<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Viaje</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add-trip-container">
    <ion-item>
      <ion-label position="floating">Destino</ion-label>
      <ion-input [(ngModel)]="trip.destination" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio por Persona (CLP)</ion-label>
      <ion-input type="number" [(ngModel)]="trip.price" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número de Asientos Disponibles</ion-label>
      <ion-input type="number" [(ngModel)]="trip.availableSeats" required></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="addTrip()">Agregar Viaje</ion-button>
  </div>
</ion-content>
