:root {
    --ion-color-primary: #a4d7f5; /* Celeste suave */
    --ion-color-secondary: #76e5d8; /* Calipso pastel */
    --ion-color-dark: #000000; /* Negro */
    
    --ion-color-primary-rgb: 164, 215, 245;
    --ion-color-secondary-rgb: 118, 229, 216;
    --ion-color-dark-rgb: 0, 0, 0;
  
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
  
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    
    --ion-color-primary-shade: #8dc8e3;
    --ion-color-secondary-shade: #69d4c7;
    --ion-color-dark-shade: #0d0d0d;
  
    --ion-color-primary-tint: #b3e0f6;
    --ion-color-secondary-tint: #85ede0;
    --ion-color-dark-tint: #1a1a1a;
  }
  