<ion-header>
  <ion-toolbar>
    <ion-title>Experiencia Laboral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Empresa</ion-label>
      <ion-input [(ngModel)]="experience.company" name="company" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Año Inicio</ion-label>
      <ion-input type="number" [(ngModel)]="experience.startYear" name="startYear" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Año Término</ion-label>
      <ion-input type="number" [(ngModel)]="experience.endYear" name="endYear"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cargo</ion-label>
      <ion-input [(ngModel)]="experience.position" name="position" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Guardar</ion-button>
  </form>
</ion-content>
